In [8]:
!curl https://raw.githubusercontent.com/Vallisha-M/ML-Lab/main/Naive-Bayes-Classifier/dataset.csv > dataset.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   419  100   419    0     0   8551      0 --:--:-- --:--:-- --:--:--  8551

In [24]:
from sklearn.naive_bayes import GaussianNB
import pandas as pd
from sklearn import preprocessing
import numpy as np

label_encoder = preprocessing.LabelEncoder()
nb = GaussianNB()

In [11]:
df=pd.read_csv('dataset.csv')

In [12]:
df

     outlook temperature humidity    wind playtennis
0      sunny         hot     high    weak         no
1      sunny         hot     high  strong         no
2   overcast         hot     high    weak        yes
3       rain        mild     high    weak        yes
4       rain        cool   normal    weak        yes
5       rain        cool   normal  strong         no
6   overcast        cool   normal  strong        yes
7      sunny        mild     high    weak         no
8      sunny        cool   normal    weak        yes
9       rain        mild   normal    weak        yes
10     sunny        mild   normal  strong        yes
11  overcast        mild     high  strong        yes
12  overcast         hot   normal    weak        yes
13      rain        mild     high  strong         no

In [18]:
for col in df.columns:
  df[col]= label_encoder.fit_transform(df[col])

In [19]:
df

    outlook  temperature  humidity  wind  playtennis
0         2            1         0     1           0
1         2            1         0     0           0
2         0            1         0     1           1
3         1            2         0     1           1
4         1            0         1     1           1
5         1            0         1     0           0
6         0            0         1     0           1
7         2            2         0     1           0
8         2            0         1     1           1
9         1            2         1     1           1
10        2            2         1     0           1
11        0            2         0     0           1
12        0            1         1     1           1
13        1            2         0     0           0

In [20]:
x=df.drop(["playtennis"], axis=1)
y = df.playtennis.values

In [27]:
nb.fit(x, y)

GaussianNB()

In [28]:
print("Naive Bayes score: ",nb.score(x, y))

Naive Bayes score:  0.9285714285714286